<template>
    <div>
        <AppHeader></AppHeader>
        <div class="ui container topSpace"><router-view></router-view></div>
    </div>
</template>

<script>
import AppHeader from './components/AppHeader';

export default {
    name: 'App',
    components: {
        AppHeader
    }
}
</script>

<style scoped>
.topSpace {
    padding: 20px 0px 0px 0px;
}
</style>

